html,
body {
  height: 100vh;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

h1, h2 {
  font-weight: 400;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

code {
  font-size: 90%;
}

pre {
  font-size: 14px;
}