@use '@angular/material' as mat;
@use '../app/components/navigation/navigation.component.theme' as navigation;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$accent: mat.define-palette(mat.$light-blue-palette);
$warn: mat.define-palette(mat.$pink-palette, 600);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);
@include navigation.theme($light-theme);

// @media (prefers-color-scheme: dark) {
//  @include mat.all-component-colors($dark-theme);
//  @include navigation.theme($dark-theme);
// }