<mat-toolbar color="secondary">
    <mat-toolbar-row class="gap">
        <a mat-stroked-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        @if (!loggedIn()) {
            <span class="spacer"></span>
            <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
            <a mat-stroked-button routerLink="/register" routerLinkActive="active">Register</a>
        } @else {
            <a mat-stroked-button routerLink="/bikes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            #list="routerLinkActive">
                <mat-icon>directions_bike</mat-icon>
                <span>Bikes</span>
            </a>
            <span class="spacer"></span>
            <span>Hello, {{name()}}</span>
            <img class="avatar" [src]="this.gravatar() | async" />
            <a mat-stroked-button (click)="logout()">
                Logout
                <mat-icon>logout</mat-icon>
            </a>
        }
    </mat-toolbar-row>
</mat-toolbar>