<mat-toolbar color="primary">
    <mat-toolbar-row class="gap">
        @if (!loggedIn()) {
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <span class="spacer"></span>
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
        } @else {
        <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-button [matMenuTriggerFor]="bikesmenu" [ngClass]="{ 'active': list.isActive || add.isActive }">Bikes</a>
        <span class="spacer"></span>
        <mat-menu #bikesmenu="matMenu" [overlapTrigger]="false">
            <a mat-menu-item routerLink="/bikes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                #list="routerLinkActive">
                <mat-icon>directions_bike</mat-icon>
                <span>List</span>
            </a>
            <a mat-menu-item routerLink="/bikes/new" routerLinkActive="active" #add="routerLinkActive">
                <mat-icon>add</mat-icon>
                <span>Add</span>
            </a>
        </mat-menu>
        <a mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </a>
        }
    </mat-toolbar-row>
</mat-toolbar>